#content {
    background: rgba(255, 255, 255, 0);
}

#title {
    background: rgba(140, 200, 245, 0.7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 15px;
    border-style: none;
    padding: 5px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

strong {
    font-size: 20px;
}

em {
    font-size: 20px;
}

s {
    font-size: 20px;
}

li {
    font-size: 20px;
}

#article_content {
    background: rgba(0, 220, 255, 0.7);
    border-radius: 8px 16px 8px 16px;
    border-style: none;
    padding: 10px;
    margin-top: 15px;
}